body {
    background-color: rgba(184, 177, 177, 0.795);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1,3rem;
    margin: 0;
}
header{
    max-width: 2000px;
    min-width: 100;
    margin: 5px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgb(16, 22, 22);
    background-image: url(Logos/fondo1.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* cabecera fija (no se utilizó en esta página):
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; */
}
/* .container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto; */

/* Configuración de los links del encabezado(se combina con el código que está más abajo. ¿Hay información superpuesta o duplicada?:  */
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul li{
      display: inline-block;
    }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;

        }
          
/* se le pone padding al main para que no se superponga con la cabecera flotante */
.main{
    padding-top: 3rem;
    font-size: 15px;
    border-radius: 20px 20px 20px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-image: url(Logos/fondo1.jpg); 
    background-position:center center; /*respecto a body*/
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100%; 
}
/* Crea la configuración CSS para el menú con los productos */
.page-content {
  border: 1px solid rgb(12, 12, 12);
  background-color: rgba(184, 177, 177, 0.795);
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  /* (el flex pone los productos uno al lado del otro) */
  flex-wrap: wrap;
  /* (el warp permite modificar el orden cuando se achique la pantalla) */
  justify-content: space-evenly;
  /* El justificado deja un espacio entre la info de los productos */
  
}

/* Crea el estilo para dar tamaño a las imágenes */
.product-conteiner img{
  width: 300px;
}

/* Crea el estilo para los h1 del conteiner:  */
.product-conteiner h1{
  margin-bottom: 10px;
  margin-left: 15px;
}

/* Crea un estilo para el texto de los productos */
.product-conteiner{
  margin: 15px;
  padding: 2px 16px;
  position: relative;
  /* El siguiente box shadow permite aumentar la sombra cuando se pase el mouse arriba */
  box-shadow: 0px 4px 14px 0px rgba(10, 10, 10, 0.795);
  background-color: rgb(223, 210, 193);

}
/* Crea un estilo para las cajas de los productos */
.product-conteiner:hover{
  box-shadow: 2px 8px 14px 2px rgba(10, 10, 10, 0.795);
}

/* Crea el estilo para el botón: */
.button-add{
  transition-duration: 0.4s;
  border: black;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 15px;
  position: absolute;
  border: 2px solid green;
  right: 15px;
  /* El right corre el botón un poco a la derecha */
  bottom: 10px;
  /* el booton sube el botón para que entre en el recuadro del containter */

}
/* .button-add:hover{
  background-color: seagreen;
  color: azure;
}
.button-checkout{
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 10px;
  position: relative;
}
.button-checkout:hover {
  background-color: rgb(139, 139, 139);
  color: azure;
  transition-duration: 0.4s;

} */







/* configuración del logo en el encabezado:  */
#logo {
    width: 88px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#títuloprincipal {
    margin-top: 0;
    margin-left: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    text-shadow: 2px 2px 2px rgb(80, 88, 81); 
  
}

.queeslahidromiel{
  color: rgb(19, 19, 18);
  text-shadow: 2px 2px 2px rgb(80, 88, 81);
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 30px;
  padding: 0px 10px 10px 20px;
  text-align: left;  
  position: absolute;
  
}

/* Configuración de los links del encabezado(colores):  */

  p {
    line-height: 1.4;
  }
  
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    display: inline;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437A16; 
  }
  
  a:focus {
    border-bottom: 3px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 3px solid;
    background: #CDFEAA;
  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }

.footer{
  font-size: small;
  background: rgb(228, 214, 195);
  border-radius: 10px;
  text-align: center; 
  margin-top: 6rem;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 6rem;
}
    
@media screen and (max-width: 569px) {
  .titulohidro{
    color: transparent;
    display: none; 
  }
  .header{
    width: 100%; 
  } 
  #logo {
    width: 15%;
    box
  }
  
}